Repository ryota-kishimoto/gitpeek, changes with the labels that .github/labeler.yml gives for each.
All labels: swift, ui, logic, test, documentation, ci, config, build, security

.github/labeler.yml:

# ファイルパスに基づく自動ラベル設定

# コード変更
swift:
  - changed-files:
    - any-glob-to-any-file: 
      - '**/*.swift'
      - 'Package.swift'

# UI/View変更
ui:
  - changed-files:
    - any-glob-to-any-file:
      - 'GitPeek/Views/**'
      - '**/*View.swift'

# ビジネスロジック
logic:
  - changed-files:
    - any-glob-to-any-file:
      - 'GitPeek/ViewModels/**'
      - 'GitPeek/Models/**'

# テスト
test:
  - changed-files:
    - any-glob-to-any-file:
      - 'Tests/**'
      - '**/*Test.swift'
      - '**/*Tests.swift'

# ドキュメント
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '*.md'
      - 'docs/**'
      - '.github/*.md'

# CI/CD
ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'

# 設定ファイル
config:
  - changed-files:
    - any-glob-to-any-file:
      - '.*rc'
      - '*.json'
      - '*.yml'
      - '*.yaml'
      - '.gitignore'

# ビルド関連
build:
  - changed-files:
    - any-glob-to-any-file:
      - 'Package.swift'
      - 'Package.resolved'
      - '.swiftpm/**'
      - 'build.sh'

# セキュリティ
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'SECURITY.md'
      - '**/Auth*.swift'
      - '**/Crypto*.swift'

fix(release): publish Release before updating appcast, tolerate push deny
  .github/workflows/release.yml
Labels: ci

chore: update appcast.xml for v1.5.3
  appcast.xml
Labels: none

fix: expose Check for Updates button in General settings
  GitPeek/App/GitPeekApp.swift
  GitPeek/Utils/SparkleUpdater.swift
  GitPeek/Views/SettingsView.swift
Labels: swift, ui

ci: replace archived hmarr/auto-assign-action with github-script
  .github/workflows/pr-automation.yml
Labels: ci

fix: expose Check for Updates button in General settings (#29)
  .github/workflows/pr-automation.yml
  GitPeek/App/GitPeekApp.swift
  GitPeek/Utils/SparkleUpdater.swift
  GitPeek/Views/SettingsView.swift
Labels: swift, ui, ci

chore: bump version to v1.5.4
  CHANGELOG.md
  GitPeek/Info.plist
Labels: documentation

chore: update appcast.xml for v1.5.4
  appcast.xml
Labels: none

fix: avoid index.lock contention when polling repository status
  GitPeek/Models/RepositoryStore.swift
  GitPeek/Utils/GitCommand.swift
Labels: swift, logic

test: add failing test for index rewrite during status
  GitPeekTests/Unit/GitCommandTests.swift
Labels: swift, test

fix: avoid index.lock contention when polling repository status (#37)
  GitPeek/Models/RepositoryStore.swift
  GitPeek/Utils/GitCommand.swift
  GitPeekTests/Unit/GitCommandTests.swift
Labels: swift, logic, test
