Repository ryota-kishimoto/gitpeek, changes with the labels that .github/labeler.yml gives for each.
All labels: swift, ui, logic, test, documentation, ci, config, build, security

chore: remove welcome workflow for first-time contributors
  .github/workflows/welcome.yml
Labels: ci

fix: resolve SwiftLint force unwrapping errors
  GitPeek/Utils/GitMonitor.swift
  GitPeek/Views/SettingsView.swift
  GitPeekTests/Unit/ExternalAppIntegrationTests.swift
  GitPeekTests/Unit/MenuBarViewModelTests.swift
  GitPeekTests/Unit/RepositoryTests.swift
Labels: swift, ui, test

fix: resolve final force unwrapping error in tests
  GitPeekTests/Unit/ExternalAppIntegrationTests.swift
Labels: swift, test

fix: resolve test compilation error
  GitPeekTests/Unit/ExternalAppIntegrationTests.swift
Labels: swift, test

fix: update repository URLs from gitpeek/gitpeek to ryota-kishimoto/gitpeek
  README.md
  release.sh
  release_notes_1.2.0.md
Labels: documentation

feat: implement Sparkle auto-update with CD/CI
  .github/workflows/release.yml
  .gitignore
  GitPeek/App/GitPeekApp.swift
  GitPeek/Info.plist
  GitPeek/Views/SettingsView.swift
  Package.swift
  appcast.xml
  scripts/prepare-sparkle-release.sh
Labels: swift, ui, ci, config, build

docs: update release command for automated CD with Sparkle
  .claude/commands/release.md
Labels: none

chore: bump version to 1.3.0
  GitPeek/Info.plist
Labels: none

feat: improve release workflow reliability
  .github/workflows/release.yml
  scripts/bump-version.sh
Labels: ci

fix: resolve CI build errors and SwiftLint warnings
  GitPeek/App/GitPeekApp.swift
Labels: swift

fix: add Sparkle dependency to test target
  Package.swift
Labels: swift, build

fix: correct YAML syntax in release workflow
  .github/workflows/release.yml
Labels: ci

fix: add destination flag to xcodebuild clean command
  .github/workflows/release.yml
Labels: ci

fix: use awk instead of sed for macOS compatibility
  .github/workflows/release.yml
Labels: ci

fix: use dynamic version display in SettingsView
  GitPeek/Views/SettingsView.swift
Labels: swift, ui

fix: centralize version management across all scripts
  SECURITY.md
  build.sh
  release.sh
Labels: documentation, build, security

chore: bump version to 1.3.1
  GitPeek/Info.plist
Labels: none

fix: add Sparkle framework bundling to release workflow
  .github/workflows/release.yml
Labels: ci

feat: add Visual Regression Testing (VRT) with swift-snapshot-testing
  .github/workflows/ci.yml
  .github/workflows/snapshot-tests.yml
  .serena/cache/swift/document_symbols_cache_v23-06-25.pkl
  GitPeek/Utils/GitCommand.swift
  GitPeekTests/Snapshot/ViewSnapshotTests.swift
  GitPeekTests/Unit/GitCommandTests.swift
  GitPeekTests/Unit/GitErrorTests.swift
  Package.swift
  docs/SNAPSHOT_TESTING.md
  scripts/generate-snapshots.sh
Labels: swift, test, documentation, ci, build

chore: bump version to 1.3.2
  GitPeek/Info.plist
Labels: none

fix: skip snapshot tests in CI environment
  .claude/slash_commands/release.md
  .github/workflows/ci.yml
  GitPeekTests/Snapshot/ViewSnapshotTests.swift
Labels: swift, test, ci

fix: enable snapshot tests in CI with proper layout
  GitPeekTests/Snapshot/ViewSnapshotTests.swift
Labels: swift, test

fix: unify CI environment settings
  .github/workflows/ci.yml
  GitPeekTests/Snapshot/ViewSnapshotTests.swift
  GitPeekTests/Snapshot/__Snapshots__/ViewSnapshotTests/testSettingsView.1.png
Labels: swift, test, ci

fix: separate snapshot tests from main test suite in CI
  .github/workflows/ci.yml
Labels: ci

wip
  .claude/SNAPSHOT_TESTING.md
  .github/workflows/ci.yml
  .github/workflows/snapshot-tests.yml
  GitPeekTests/Snapshot/ViewSnapshotTests.swift
  GitPeekTests/Snapshot/__Snapshots__/ViewSnapshotTests/testContentView_DarkMode.1.png
  GitPeekTests/Snapshot/__Snapshots__/ViewSnapshotTests/testContentView_Empty.1.png
  GitPeekTests/Snapshot/__Snapshots__/ViewSnapshotTests/testMenuBarView_DarkMode.1.png
  GitPeekTests/Snapshot/__Snapshots__/ViewSnapshotTests/testMenuBarView_Empty.1.png
  GitPeekTests/Snapshot/__Snapshots__/ViewSnapshotTests/testSettingsView_DarkMode.1.png
Labels: swift, test, ci

feat: add initial cipher sessions database files
  data/cipher-sessions.db
  data/cipher-sessions.db-shm
  data/cipher-sessions.db-wal
Labels: none

feat: add macOS 26 compatibility and liquid glass effect
  GitPeek/Models/Theme.swift
  GitPeek/Utils/VisualEffectView.swift
  GitPeek/Views/MenuBarView.swift
  build.sh
Labels: swift, ui, logic, build

docs: add macOS 26 compatibility and build documentation
  docs/BUILD_GUIDE.md
  docs/CHANGELOG_v1.3.2.md
  docs/MACOS_26_COMPATIBILITY.md
Labels: documentation

fix: bring file dialog to front and display immediately
  GitPeek/ViewModels/MenuBarViewModel.swift
  GitPeek/Views/MenuBarView.swift
Labels: swift, ui, logic

fix: close popover before showing file dialog
  GitPeek/Views/MenuBarView.swift
Labels: swift, ui

feat: auto-reopen popover after adding repository
  GitPeek/App/GitPeekApp.swift
  GitPeek/ViewModels/MenuBarViewModel.swift
  GitPeek/Views/MenuBarView.swift
Labels: swift, ui, logic

perf: optimize repository loading and add pull operation feedback
  GitPeek/Models/Repository.swift
  GitPeek/Models/RepositoryStore.swift
  GitPeek/Views/MenuBarView.swift
Labels: swift, ui, logic

perf: dramatically improve refresh speed and fix git pull error
  GitPeek/Models/RepositoryStore.swift
  GitPeek/Utils/GitCommand.swift
  GitPeek/Utils/GitMonitor.swift
Labels: swift, logic

chore: bump version to 1.4.0
  GitPeek/Info.plist
  docs/CHANGELOG_v1.4.0.md
Labels: documentation

perf: optimize repository loading and add pull operation feedback
  GitPeek/Models/Repository.swift
  GitPeek/Models/RepositoryStore.swift
  GitPeek/Views/MenuBarView.swift
Labels: swift, ui, logic

docs: add macOS 26 compatibility and build documentation
  docs/BUILD_GUIDE.md
  docs/CHANGELOG_v1.3.2.md
  docs/MACOS_26_COMPATIBILITY.md
Labels: documentation

perf: dramatically improve refresh speed and fix git pull error
  GitPeek/Models/RepositoryStore.swift
  GitPeek/Utils/GitCommand.swift
  GitPeek/Utils/GitMonitor.swift
Labels: swift, logic

chore: bump version to 1.4.0
  GitPeek/Info.plist
  docs/CHANGELOG_v1.4.0.md
Labels: documentation

feat: add initial cipher sessions database files
  data/cipher-sessions.db
  data/cipher-sessions.db-shm
  data/cipher-sessions.db-wal
Labels: none

feat: auto-reopen popover after adding repository
  GitPeek/App/GitPeekApp.swift
  GitPeek/ViewModels/MenuBarViewModel.swift
  GitPeek/Views/MenuBarView.swift
Labels: swift, ui, logic

.github/labeler.yml:

# ファイルパスに基づく自動ラベル設定

# コード変更
swift:
  - changed-files:
    - any-glob-to-any-file: 
      - '**/*.swift'
      - 'Package.swift'

# UI/View変更
ui:
  - changed-files:
    - any-glob-to-any-file:
      - 'GitPeek/Views/**'
      - '**/*View.swift'

# ビジネスロジック
logic:
  - changed-files:
    - any-glob-to-any-file:
      - 'GitPeek/ViewModels/**'
      - 'GitPeek/Models/**'

# テスト
test:
  - changed-files:
    - any-glob-to-any-file:
      - 'Tests/**'
      - '**/*Test.swift'
      - '**/*Tests.swift'

# ドキュメント
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '*.md'
      - 'docs/**'
      - '.github/*.md'

# CI/CD
ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'

# 設定ファイル
config:
  - changed-files:
    - any-glob-to-any-file:
      - '.*rc'
      - '*.json'
      - '*.yml'
      - '*.yaml'
      - '.gitignore'

# ビルド関連
build:
  - changed-files:
    - any-glob-to-any-file:
      - 'Package.swift'
      - 'Package.resolved'
      - '.swiftpm/**'
      - 'build.sh'

# セキュリティ
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'SECURITY.md'
      - '**/Auth*.swift'
      - '**/Crypto*.swift'
