Repository ryota-kishimoto/gitpeek, changes with the labels that .github/labeler.yml gives for each.
All labels: swift, ui, logic, test, documentation, ci, config, build, security

.github/labeler.yml:

# ファイルパスに基づく自動ラベル設定

# コード変更
swift:
  - changed-files:
    - any-glob-to-any-file: 
      - '**/*.swift'
      - 'Package.swift'

# UI/View変更
ui:
  - changed-files:
    - any-glob-to-any-file:
      - 'GitPeek/Views/**'
      - '**/*View.swift'

# ビジネスロジック
logic:
  - changed-files:
    - any-glob-to-any-file:
      - 'GitPeek/ViewModels/**'
      - 'GitPeek/Models/**'

# テスト
test:
  - changed-files:
    - any-glob-to-any-file:
      - 'Tests/**'
      - '**/*Test.swift'
      - '**/*Tests.swift'

# ドキュメント
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '*.md'
      - 'docs/**'
      - '.github/*.md'

# CI/CD
ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'

# 設定ファイル
config:
  - changed-files:
    - any-glob-to-any-file:
      - '.*rc'
      - '*.json'
      - '*.yml'
      - '*.yaml'
      - '.gitignore'

# ビルド関連
build:
  - changed-files:
    - any-glob-to-any-file:
      - 'Package.swift'
      - 'Package.resolved'
      - '.swiftpm/**'
      - 'build.sh'

# セキュリティ
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'SECURITY.md'
      - '**/Auth*.swift'
      - '**/Crypto*.swift'

fix: bring file dialog to front and display immediately
  GitPeek/ViewModels/MenuBarViewModel.swift
  GitPeek/Views/MenuBarView.swift
Labels: swift, ui, logic

fix: close popover before showing file dialog
  GitPeek/Views/MenuBarView.swift
Labels: swift, ui

feat: add macOS 26 compatibility and liquid glass effect
  GitPeek/Models/Theme.swift
  GitPeek/Utils/VisualEffectView.swift
  GitPeek/Views/MenuBarView.swift
  build.sh
Labels: swift, ui, logic, build

feat: add custom SVG icons for app, menu bar, and in-app UI
  GitPeek/App/GitPeekApp.swift
  GitPeek/Views/MenuBarView.swift
  GitPeek/Views/SettingsView.swift
  README.md
  build.sh
  gitpeek-icon.svg
  gitpeek-menubar.svg
Labels: swift, ui, documentation, build

feat: add custom SVG icons for app, menu bar, and in-app UI (#16)
  GitPeek/App/GitPeekApp.swift
  GitPeek/Views/MenuBarView.swift
  GitPeek/Views/SettingsView.swift
  README.md
  build.sh
  gitpeek-icon.svg
  gitpeek-menubar.svg
Labels: swift, ui, documentation, build

feat: implement launch at login using SMAppService
  GitPeek/Views/SettingsView.swift
Labels: swift, ui

feat: add notification support for repository changes
  GitPeek/Utils/GitMonitor.swift
Labels: swift

feat: implement cache clear functionality
  GitPeek/Views/SettingsView.swift
Labels: swift, ui

chore: remove unused ContentView.swift
  GitPeek/Views/ContentView.swift
Labels: swift, ui

fix: connect SettingsView to Settings Scene
  GitPeek/App/GitPeekApp.swift
Labels: swift

chore: bump version to 1.5.0
  GitPeek/Info.plist
Labels: none

fix: connect Advanced Settings to real storage
  GitPeek/Utils/GitCommand.swift
  GitPeek/Views/SettingsView.swift
Labels: swift, ui

fix: improve error alert, worktree menu, and pull button
  GitPeek/Views/MenuBarView.swift
Labels: swift, ui

refactor: replace print statements with Logger utility
  GitPeek/Models/RepositoryStore.swift
  GitPeek/Utils/GitMonitor.swift
  GitPeek/Utils/Logger.swift
  GitPeek/ViewModels/MenuBarViewModel.swift
Labels: swift, logic

fix: dynamically fetch latest Sparkle version in release CI
  .github/workflows/release.yml
Labels: ci

fix: add rpath for Sparkle framework in release CI
  .github/workflows/release.yml
Labels: ci

feat: add polished DMG installer with custom background
  .github/workflows/release.yml
  Makefile
  Resources/dmg-background.png
  Resources/dmg-background.svg
  Resources/dmg-background@2x.png
  Resources/dmg-background@2x.svg
  build.sh
  scripts/create-dmg.sh
Labels: ci, build

fix: use light background for DMG to make icon labels readable
  Resources/dmg-background.png
  Resources/dmg-background.svg
  Resources/dmg-background@2x.png
  Resources/dmg-background@2x.svg
Labels: none

chore: bump version to 1.5.1
  GitPeek/Info.plist
Labels: none

fix: use gh api for Sparkle version fetch with fallback
  .github/workflows/release.yml
Labels: ci

fix: add GH_TOKEN for Sparkle version fetch in CI
  .github/workflows/release.yml
Labels: ci

fix: include AppIcon.icns in CI release build
  .github/workflows/release.yml
  Resources/AppIcon.icns
Labels: ci

feat: use black background with cyan icon for app icon
  Resources/AppIcon.icns
Labels: none

fix: add folder usage descriptions to stop repeated TCC prompts
  .github/workflows/release.yml
  GitPeek/Info.plist
  build.sh
Labels: ci, build

fix: add folder usage descriptions to stop repeated TCC prompts (#22)
  .github/workflows/release.yml
  GitPeek/Info.plist
  build.sh
Labels: ci, build

chore: remove unused App Sandbox entitlements file
  GitPeek/GitPeek.entitlements
  Package.swift
Labels: swift, build

chore: remove unused App Sandbox entitlements file (#23)
  GitPeek/GitPeek.entitlements
  Package.swift
Labels: swift, build

fix: unbreak CI test job
  GitPeek/Models/RepositoryStore.swift
  GitPeek/Utils/GitMonitor.swift
  GitPeekTests/Snapshot/ViewSnapshotTests.swift
Labels: swift, logic, test

fix: also unbreak fetch-path actor-isolation under Swift 5.9
  GitPeek/Models/RepositoryStore.swift
Labels: swift, logic

fix: unbreak CI test job (actor-isolation, notification crash, stale test) (#24)
  GitPeek/Models/RepositoryStore.swift
  GitPeek/Utils/GitMonitor.swift
  GitPeekTests/Snapshot/ViewSnapshotTests.swift
Labels: swift, logic, test

chore: add .mcp.json.example with XcodeBuildMCP server
  .gitignore
  .mcp.json.example
Labels: config

chore: add .mcp.json.example with XcodeBuildMCP server (#25)
  .gitignore
  .mcp.json.example
Labels: config

refactor: establish SSOT for hardcoded values via AppConstants
  GitPeek/Info.plist
  GitPeek/Models/RepositoryStore.swift
  GitPeek/Utils/Constants.swift
  GitPeek/Utils/GitCommand.swift
  GitPeek/Utils/GitMonitor.swift
  GitPeek/Utils/Logger.swift
  GitPeek/ViewModels/MenuBarViewModel.swift
  GitPeek/Views/MenuBarView.swift
  GitPeek/Views/SettingsView.swift
  build.sh
Labels: swift, ui, logic, build

refactor: establish SSOT for hardcoded values via AppConstants (#26)
  GitPeek/Info.plist
  GitPeek/Models/RepositoryStore.swift
  GitPeek/Utils/Constants.swift
  GitPeek/Utils/GitCommand.swift
  GitPeek/Utils/GitMonitor.swift
  GitPeek/Utils/Logger.swift
  GitPeek/ViewModels/MenuBarViewModel.swift
  GitPeek/Views/MenuBarView.swift
  GitPeek/Views/SettingsView.swift
  build.sh
Labels: swift, ui, logic, build

fix: render menu bar icon with rsvg-convert for crisper 18/36px output
  build.sh
Labels: build

fix: render menu bar icon with rsvg-convert for crisper 18/36px output (#27)
  build.sh
Labels: build

chore: ignore local scratch files (.claude lock, icon-experiments)
  .gitignore
Labels: config

chore: ignore local scratch files (.claude lock, icon-experiments) (#28)
  .gitignore
Labels: config

chore: bump version to v1.5.2
  CHANGELOG.md
  GitPeek/Info.plist
Labels: documentation

fix(release): repair Sparkle signing, notes, and appcast pipeline
  .github/workflows/release.yml
  CHANGELOG.md
  GitPeek/Info.plist
  appcast.xml
Labels: documentation, ci
